<!DOCTYPE html>
<html>
<head>
  <title>Feedgia</title>
  <link rel="apple-touch-icon" sizes="57x57" href="eye.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="eye.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="eye.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="eye.png" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>
